<div style="padding: 20px;">
  <div class="card">
    <h5 class="card-header">{{pageTitle}}</h5>
    <div class="card-block">
      <div class="row">
          <p>Listing Manager application is developed using following technologies;</p>
          <p></p>
          <ul>
            <li>1) Angular 4</li>
            <li>2) Web API 2.0</li>
            <li>3) SQL Database</li>
          </ul>
          <p></p>
          <p>This application allows user to Add, Update or Delete entities like Agent, Listing or Open Houses.</p>
      </div>
    </div>
  </div>
</div>